@model IEnumerable<WebApplication1.Models.Item>

@{
  
       ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Bienvenido al buscador de libros</h1>
    <p>busque su libro</p>
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="text" name="txtSearch" id="txtSearch" />
        <input type="submit" value="Buscar" id="btnBuscar" />
    </form>



    
    

    <h1>Resultados de la búsqueda</h1>
    
    @if (ViewBag.busquedaRealizada)
    {
    
        <ul>
        @foreach (var libro in Model)
        {
            <p id="titulo" >titulo: @libro.VolumeInfo.Subtitle</p>
            <p id="autor" >autor: @libro.VolumeInfo.Title</p>
            <p id="descripcion" >descripcion: @libro.VolumeInfo.Description</p>
        }
    </ul>
    }
</div>
